[submodule "engine/dependencies/lua"]
	path = engine/dependencies/lua
	url = https://github.com/LuaDist/lua.git
[submodule "engine/dependencies/luajit"]
	path = engine/dependencies/luajit
	url = https://github.com/WohlSoft/LuaJIT.git
[submodule "engine/dependencies/raylib"]
	path = engine/dependencies/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "engine/dependencies/physfs"]
	path = engine/dependencies/physfs
	url = https://github.com/icculus/physfs.git
